/*header*/
.header {
    max-width: 1408px;
    height: 800px;
}

.nav-menu {
    /*Блочная модель*/
    display: flex;
    height: 100px;
    max-width: 1408px;

    /*Разное*/
    cursor: pointer;
}


.nav-menu__logo {
    /*Блочная модель*/
    margin-top: 20px;
    margin-left: 146px;

    /*Разное*/
    justify-content: left;
}

.nav {
    /*Блочная модель*/
    display: flex;
    height: 24px;
    width: 100%;
    margin-top: 40px;

    /*Разное*/
    justify-content: center;
}

.nav__list {
    /*Блочная модель*/
    display: flex;

    /*Типографика*/
    list-style-type: none;
    text-transform: uppercase;
}

.nav__list--item {
    /*Блочная модель*/
    margin-right: 20px;

    /*Типографика*/
    font-family: "DIN", arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: black;

    /*Разное*/
    text-decoration: none;
}

.nav__list--item:hover {
    /*Типографика*/
    font-weight: bold;

    /*Анимация*/
    transition-duration: 1.8ms;
}

.languages {
    /*Позиционирование*/
    position: relative;
    z-index: 1;
    left: 70px;
}

.languages__list {
    /*Позиционирование*/
    position: absolute;

    /*Блочная модель*/
    display: flex;

    /*Разное*/
    flex-direction: column;
}

.languages__item {
    /*Блочная модель*/
    display: none;
}

.languages__item--active,
.languages__item--show {
    /*Блочная модель*/
    display: block;
}

.languages__item--active {
    /*Разное*/
    order: -1;
}

.button {
    /*Блочная модель*/
    margin-top: 10px;
    margin-right: 32px;
}

.button--book {
    /*Блочная модель*/
    height: 60px;
    width: 200px;
    margin-right: 7px;
    justify-content: flex-end;

    /*Типографика*/
    font-family: "DIN", arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 1px;
    color: #FFFFFF;

    /*Оформление*/
    background-color: #5B6460;
    border-style: solid;
    border-color: #5B6460;

    /*Разное*/
    text-transform: uppercase;
}

.button--book:hover {
    /*Типографика*/
    font-weight: bold;

    /*Анимация*/
    transition-duration: 1.8ms;
}

.swiper {
    /*Позиционирование*/
    position: relative;

    /*Блочная модель*/
    max-width: 1408px;
    height: 700px;
    margin: 0 auto;

    /*Разное*/
    overflow: hidden;
}

.swiper-wrapper {
    /*Позиционирование*/
    left: 0;
    right: 0;
}

.scrollbar-main {
    /*Позиционирование*/
    left: 40px;
}

.slider-text {
    /*Позиционирование*/
    position: absolute;
    top: 50px;
    right: 58px;
    z-index: 1;

    /*Блочная модель*/
    height: 190px;
    width: 754px;
}

.slider-text__title {
    /*Типографика*/
    font-family: "DIN", arial, sans-serif;
    font-size: 70px;
    font-weight: 300;
    line-height: 72px;
    text-align: right;
    color: #FFFFFF;

    /*Разное*/
    letter-spacing: 0;
}

.slider-text__description {
    /*Блочная модель*/
    margin-top: -11px;
    margin-right: -209px;

    /*Типографика*/
    font-family: "Mulish", arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.carousel {
    /*Позиционирование*/
    position: relative;
}

.slider-control {
    /*Блочная модель*/
    display: flex;
}

.slider__btn-prev {
    /*Позиционирование*/
    position: absolute;
    z-index: 5;
    left: 47%;

    /*Блочная модель*/
    bottom: 80px;

    /*Анимация*/
    transform: translateX(-50%);
}

.slider__btn-prev:hover {
    /*Разное*/
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.slider__btn-next {
    /*Позиционирование*/
    position: absolute;
    z-index: 5;
    left: 48%;

    /*Блочная модель*/
    margin-left: 46px;
    bottom: 84px;

    /*Анимация*/
    transform: translateX(-50%);
    transform: rotate(180deg);
}

.slider__btn-next:hover {
    /*Разное*/
    stroke: #FFFFFF;
    fill: #FFFFFF;
}

.sale {
    /*Позиционирование*/
    position: absolute;
    z-index: 1;

    /*Блочная модель*/
    display: flex;
    Width: 383px;
    Height: 100px;
    margin-top: -63px;

    /*Типографика*/
    color: #FFFFFF;

    /*Разное*/
    cursor: pointer;
}


.sale__btn {
    /*Блочная модель*/
    height: 100px;
    width: 263px;
    margin-left: 146px;
    padding: 36px 78px 36px 78px;

    /*Типографика*/
    font-family: "DIN", arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 1px;
    color: #FFFFFF;

    /*Оформление*/
    background-color: #5B6460;
    border: solid;
    border-color: #5B6460;

    /*Разное*/
    text-transform: uppercase;
}

.sale__btn:hover {
    /*Типографика*/
    font-weight: bold;

    /*Анимация*/
    transition-duration: 1.8ms;
}

.sale--right {
    /*Блочная модель*/
    width: 120px;
    height: 100px;

    /*Оформление*/
    background-color: #E9ECE0;
}

.sale__content--right {
    /*Блочная модель*/
    padding: 22px 28px 22px 28px;

    /*Типографика*/
    font-family: "DIN", arial, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    text-align: left;
    color: #333333;
}

.sale__text-value {
    /*Типографика*/
    font-family: "DIN", arial, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    color: #333333;
}

.sale__text--per {
    /*Позиционирование*/
    right: 0;

    /*Блочная модель*/
    padding-left: 12px;

    /*Типографика*/
    font-family: "DIN", arial, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0;
    text-align: right;
}

.section {
    /*Блочная модель*/
    display: none;
}
.mini-mobile {
    /*Блочная модель*/
    display: none;
}

@media (max-width: 768px) {
    .nav .nav__list {
        /*Блочная модель*/
        display: none;
    }

    .nav-menu__logo {
        /*Позиционирование*/
        right: 0;
    }

    .mini-mobile {
        /*Блочная модель*/
        display: flex;

        /*Типографика*/
        align-items: center;
    }

    .mini-mobile__tabs {
        /*Блочная модель*/
        padding: 10px 20px;

        /*Разное*/
        cursor: pointer;
    }

    .tab {
        /*Блочная модель*/
        display: block;
        width: 30px;
        height: 3px;
        margin: 6px auto;

        /*Оформление*/
        background-color: #333333;

        /*Анимация*/
        transition: 0.2s;
    }

    .section {
        /*Позиционирование*/
        position: fixed;
        top: 75px;
        left: -100%;
        z-index: 7;

        /*Блочная модель*/
        display: flex;
        width: 100%;
        height: 100%;

        /*Оформление*/
        background-color: #FFFFFF;

        /*Анимация*/
        transition: 0.3s;
    }

    .section.open {
        /*Позиционирование*/
        left: 0;
        top: 100px;
    }

    .section .nav__list {
        /*Блочная модель*/
        display: flex;
        width: 100%;
        height: 100%;
        padding: 50px 0;

        /*Типографика*/
        align-items: center;

        /*Разное*/
        flex-direction: column;
        justify-content: start;
        overflow: auto;
    }

    .section .menu > li {
        /*Блочная модель*/
        display: flex;
        width: 100%;
        padding: 20px;

        /*Типографика*/
        font-size: 20px;
        font-weight: bold;
        align-items: center;
        color: #5B6460;

    }

    .nav__list--text {
        /*Типографика*/
        font-size: 20px;
        line-height: 2;
    }

    .mini-mobile__tabs.active .tab:nth-child(2) {
        /*Оформление*/
        opacity: 0;
    }

    .mini-mobile__tabs.active .tab:nth-child(1) {
        /*Анимация*/
        transform: translateY(8px) rotate(45deg);
    }

    .mini-mobile__tabs.active .tab:nth-child(3) {
        /*Анимация*/
        transform: translateY(-8px) rotate(-45deg);
    }

    body.noscroll {
        /*Разное*/
        overflow: hidden;
    }

    .swiper-wrapper {
        /*Позиционирование*/
        left: 0;
        right: 0;
    }

    .swiper-slide {
        /*Блочня модель*/
        max-width: 768px;
        width: 100%;
        height: auto;

    }

    .swiper-text {
        /*Позиционирование*/
        position: absolute;
        top: 20px;
        z-index: 1;

        /*Блочня модель*/
        max-width: 768px;
        height: 90px;
    }

    .slider-text__title {
        /*Типографика*/
        font-family: "DIN", arial, sans-serif;
        font-size: 50px;
        font-weight: 300;
        line-height: 72px;
        letter-spacing: 0;
        text-align: right;
        color: #FFFFFF;
    }

    .slider-text__description {
        /*Типографика*/
        font-family: "Mulish", arial, sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
        color: #FFFFFF;
    }
}
