/*header*/
.header {
    max-width: 1408px;
    height: 800px;
}

.nav-menu {
    display: flex;

    height: 100px;
    max-width: 1408px;

    cursor: pointer;
}

.logo {
    margin-top: 20px;
}

.logo__link {
    justify-content: left;
    margin-left: 146px;
}

.nav {
    justify-content: center;
    display: flex;
    margin-top: 40px;

    height: 24px;
    width: 100%;
}

.nav__list {
    display: flex;

    list-style-type: none;
    text-transform: uppercase;
}

.nav__list--text {
    margin-right: 20px;

    font-family: 'DIN';
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.nav__list--text:hover {
    font-weight: bold;

    transition-duration: 1.8ms;
}

.selected-lang {
    display: flex;
    justify-content: space-between;
    width: 100%;

    font-family: 'DIN';
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 1px;
    color: black;

    cursor: pointer;
}

.selected-lang::before {
    display: block;
    width: 32px;
    height: 32px;

    background-image: url("/img/dk.svg");
    background-size: 25px 25px;

    content: '';
}

.lang-menu {
    position: relative;
}

.lang-menu ul {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

    display: none;
    margin: 0;
    padding: 0;

    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 1px 10px #FFFFFF;
    border-radius: 5px;
}

.lang-menu ul li {
    display: flex;
    justify-content: space-between;

    list-style: none;
}

.lang-menu ul li a {
    display: block;
    padding: 5px 10px;
    width: 140px;

    text-decoration: none;
    text-transform: uppercase;

    font-family: 'DIN';
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #000000;
}

.lang-menu ul li a:before {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;


    content: '';
    vertical-align: middle;
}

.lang-menu ul li a:hover {
    background-color: #f2f2f2;
}

.dk::before {
    background-image: url(/img/dk.svg);
    background-size: 25px 25px;

}

.ru::before {
    background-image: url(/img/ru.svg);
    background-size: 25px 25px;
}

.fr::before {
    background-image: url(/img/fr.svg);
    background-size: 25px 25px;
}

.lang-menu:hover ul {
    display: block;
}

.button {
    margin-top: 10px;
    margin-right: 32px;
}

.button--book {
    justify-content: flex-end;
    height: 60px;
    width: 200px;
    margin-right: 7px;


    text-transform: uppercase;
    font-family: 'DIN';
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 1px;
    color: #FFFFFF;

    background-color: #5B6460;
    border-style: solid;
    border-color: #5B6460
}

.button--book:hover {
    font-weight: bold;
    transition-duration: 1.8ms;
}

.swiper {
    position: relative;

    max-width: 1408px;
    height: 700px;
    margin: 0 auto;
    overflow: hidden;
}

.swiper-wrapper {
    left: 0;
    right: 0;
}

.swiper-scrollbar {
    left: 40px;
}

.swiper-text {
    position: absolute;
    top: 50px;
    right: 58px;
    z-index: 1;

    height: 190px;
    width: 754px;
}

.swiper-text__h1 {
    text-align: right;
    font-family: 'DIN';
    font-size: 70px;
    font-weight: 300;
    line-height: 72px;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.swiper-text__p {
    margin-top: -11px;
    margin-right: -209px;

    text-align: center;
    font-family: 'Mulish';
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #FFFFFF;
}

.sale {
    position: absolute;
    z-index: 1;

    display: flex;

    Width: 383px;
    Height: 100px;
    margin-top: -63px;

    color: #FFFFFF;

    cursor: pointer;
}


.swiper__sale--link {
    height: 100px;
    width: 263px;
    padding: 36px 78px 36px 78px;
    margin-left: 146px;

    text-transform: uppercase;
    font-family: 'DIN';
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 1px;

    background-color: #5B6460;
    border: solid;
    border-color: #5B6460;
    color: #FFFFFF;
}

.swiper__sale--link:hover {
    font-weight: bold;

    transition-duration: 1.8ms;
}

.sale__right--text {
    height: 100px;
    width: 120px;

    background-color: #E9ECE0;
}

.sale__right--text-from {
    padding-top: 22px;
    padding-left: 29px;

    font-family: 'DIN';
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    color: #333333;
}

.sale__right--text-price {
    padding-right: 31px;
    padding-left: 29px;

    font-family: 'DIN';
    font-size: 22px;
    font-weight: bold;
    font-weight: 500;
    line-height: 28px;
    color: #333333;
}

.sale__right--text-per {
    padding-left: 41px;
    padding-bottom: 8px;

    text-align: left;
    font-family: 'DIN';
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    color: #333333;
    letter-spacing: 0px;
}

.hamb {
    display: none;
}

.popup {
    display: none;
}

@media (max-width: 768px) {
    .nav .nav__list {
        display: none;
    }

    .lang {
        display: none;
    }

    .logo {
        right: 0;
    }

    .hamb {
        display: flex;
        align-items: center;
    }

    .hamb__field {
        padding: 10px 20px;
        cursor: pointer;
    }

    .bar {
        display: block;
        width: 30px;
        height: 3px;
        margin: 6px auto;

        background-color: #333333;

        transition: 0.2s;
    }

    .popup {
        position: fixed;
        top: 75px;
        left: -100%;
        z-index: 10;

        width: 100%;
        height: 100%;

        display: flex;
        background-color: #FFFFFF;

        transition: 0.3s;
    }

    .popup.open {
        left: 0;
        top: 100px;
    }

    .popup .nav__list {
        display: flex;
        width: 100%;
        height: 100%;

        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 50px 0;

        overflow: auto;
    }

    .popup .menu > li {
        display: flex;
        width: 100%;
        padding: 20px;
        align-items: center;

        font-size: 20px;
        font-weight: bold;
        color: #5B6460;
    }

    .nav__list--text {
        font-size: 20px;
        line-height: 2;
    }

    .hamb__field.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamb__field.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamb__field.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    body.noscroll {
        overflow: hidden;
    }

    .swiper-wrapper {
        left: 0;
        right: 0;
    }

    .swiper-slide {
        height: auto;
        width: 100%;
        /* еще больше контроля с max-width */
        max-width: 768px;
    }

    .swiper-text {
        position: absolute;
        top: 20px;
        z-index: 1;

        height: 90px;
        max-width: 768px;
    }

    .swiper-text__h1 {

        text-align: right;
        font-family: 'DIN';
        font-size: 50px;
        font-weight: 300;
        line-height: 72px;
        letter-spacing: 0px;
        color: #FFFFFF;
    }

    .swiper-text__p {
        text-align: center;
        font-family: 'Mulish';
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        color: #FFFFFF;
    }
}
