.content-conteyner{
    position: relative;
    margin: 0 auto;
    max-width: 1408px;
    overflow: hidden;
    background: #ffffff;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 24px;
    margin-top: 56px;
}

.navbar__img-logo{
    margin-left: 67px;
    width: 70.26px;
    height: 65.1px;
    margin-top: -49px;
}

.navbar__menu-list{
    display: flex;
    justify-content: space-between;
    width: 597px;
    height: 24px;
    margin-top: -26px;
    margin-left: 55px;
}

.navbar__menu-item{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    list-style-type: none;
    text-transform: uppercase; /*все буквы становятся заглавными*/
}

.navbar__img-denmark{
    position: relative;
    margin-left: -100px;
    top: -28px;
}

.navbar__btn-booking{
    background: #5B6460;
    color: #ffffff;
    width: 198px;
    height: 37px;
    margin-right: 32px;
    margin-top: -46px;
    text-align: center;
    text-decoration: none;
    padding-top: 21px;
    text-transform: uppercase;
}

@media only screen and (max-width: 780px) {

    .hamburger-menu{
        z-index: 2;
    }

    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked ~ .navbar__menu-list {
        visibility: visible;
        left: 0;
    }

    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        left: 20px;

        width: 26px;
        height: 26px;

        cursor: pointer;
        z-index: 1;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;

        width: 100%;
        height: 2px;

        background-color: #616161;

        transition-duration: .10s;
    }

    .menu__btn > span::before {
        content: '';
        top: -8px;
    }

    .menu__btn > span::after {
        content: '';
        top: 8px;
    }

    .navbar__menu-list {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;

        width: 300px;
        height: 100%;

        margin: 0;
        padding: 80px 0;

        list-style: none;

        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

        transition-duration: .20s;
    }

    .navbar__menu-item {
        display: block;
        padding: 12px 24px;

        transition-duration: .20s;
    }

    .navbar__menu-item:hover {
        background-color: #CFD8DC;
    }

    .navbar__img-denmark{
        margin-left: 345px;
    }

    .navbar__btn-booking{
        width: 132px;
        height: 21px;
        font-size: 12px;
        margin-top: -30px;
        padding-top: 10px;
    }
}